.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .sign-form {
    background: rgba(255, 255, 255, 0.735);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .sign-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .sign-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .sign-form input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .sign-form button {
    width: 100%;
    padding: 10px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .sign-form button:hover {
    background-color: #005fa3;
  }
  